
/*----------------------------------------------------------------------*/

.gradient-1 {
	background-image: linear-gradient(45deg, #a322eb 0%, #00b6ff 100%);
}

/*----------------------------------------------------------------------*/

.gradient-2 {
	background-image: linear-gradient(-135deg, #a7e888 0%, #7fbfff 100%);
}

/*----------------------------------------------------------------------*/

.gradient-3 {
	background-image: linear-gradient(-135deg, #b6b8ff 0%, #ffb3d1 100%);
}

/*----------------------------------------------------------------------*/