
/*----------------------------------------------------------------------*/

.gradient-1 {
	background-image: linear-gradient(45deg, #a322eb 0%, #00b6ff 100%);
}

/*----------------------------------------------------------------------*/

.gradient-2 {
	background-image: linear-gradient(-135deg, #a7e888 0%, #7fbfff 100%);
}

/*----------------------------------------------------------------------*/

.gradient-3 {
	background-image: linear-gradient(-135deg, #b6b8ff 0%, #ffb3d1 100%);
}

/*----------------------------------------------------------------------*/

.gradient-4 {
	background-image: linear-gradient(-135deg, #FFB33B 0%, #FF5221 100%);
}

/*----------------------------------------------------------------------*/

.gradient-5 {
	background-image: linear-gradient(-135deg, #A1EB3A 0%, #53A319 100%);
}

/*----------------------------------------------------------------------*/

.gradient-6 {
	background-image: linear-gradient(-135deg, #787878 0%, #343434 100%);
}

/*----------------------------------------------------------------------*/
