
/*----------------------------------------------------------------------*/

.modal-1 {
	border-radius: 10px;
	background: #f9f8f9;
	box-shadow: 0 8px 8px 0 rgba(0,0,0,.12), 0 13px 80px 0 rgba(0,0,0,.24);
}

.modal-1 header {
	font-family: 'Open Sans';

	color: #fff;
	background: #360c7e;
}

.modal-1 h1 {
	font-size: 24px;
}

.modal-1 p {
	font-size: 16px;
	line-height: 1.5;
}

body.modal-1 {
	background: #ededef;
}

/*----------------------------------------------------------------------*/

.modal-2 {
	border-radius: 4px;
	background: #f8f8f8;
	box-shadow: 0 20px 45px 0 rgba(5,6,8,.80);
}

body.modal-2 {
	background: #e4e7f6;
}

/*----------------------------------------------------------------------*/

.modal-3 {
	border: 2px solid #f1f1f1;
	border-radius: 4px;
	background-image: linear-gradient(-180deg, #ff5d70 0%, #ffb975 100%);
	box-shadow: 0 20px 40px 0 rgba(255,182,112,.70);
}

body.modal-3 {
	background: #2c353c;
}

/*----------------------------------------------------------------------*/
